main{
    flex: 1 0 auto;
}

.card .actions a{
    display: none;
}

.card:hover .actions a{
    display: block;
}
.card-title, .card-text{
    word-break: break-all;
}
#submit-btn{
    top: 0;
    right: 0;
}
.url-input{
    padding-right: 100px;
}
.parsley-errors-list{
    color:#ff0019;
    list-style: none;
    padding: initial;
}
input.parsley-error{
    background: #ff09208f !important;
    color: white !important;
}
input.parsley-success{
    background: #42ff098f !important;
}
#url-input::placeholder{
    opacity: .5;
}
#submit-btn.disabled{
    background: grey;
    opacity: 1;
    cursor: initial;
    color: #b3b3b3;
    border: solid 1px grey;
}



#qrcode img{
    width: 100%;
}