<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Transformez vos url en qrcode" />
    <title>Smart-url</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark mb-5">
        <a class="navbar-brand font-weight-bolder" href="#"></i>url <i class="fas fa-arrow-right c-orange"></i> <i class="fas fa-qrcode"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
    </nav>

    <main>
        <section class="hero-section bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2>Smart-url</h2>
                            <p>Partagez facilement vos urls.</p>
                            <a href="#why-section" class="site-btn sb-dark">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form class="hero-form" id="form-url" data-parsley-validate action="/" method="post">
                            <div class="position-relative">
                                <label class="text-white" for="url-input">Url valide :</label>
                                <input data-parsley-trigger="keyup" pattern="/^(https?:|www\..)\S*/gm" placeholder="https://www.exemple.com" class="form-control font-weight-bolder" type="url" name="url_input" id="url-input" required>
                                <div class="text-center">
                                    <button id="submit-btn" class="site-btn">
                                        <span class="not-loading">Raccourcir</span>
                                        <span class="loading d-none">
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Vérification...
                                        </span>
                                    </button>

                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
           
        </section>


        <section id="why-section" class="why-section spad">
            <div class="container">
                <div class="text-center mb-5 pb-4">
                    <h2>Comment ça marche ?</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="icon-box-item">
                            <div class="ib-icon">1.</div>
                            <div class="ib-text">
                                <h5>Url d'origine</h5>
                                <p>Vous avez une url à partager, mais le lien d'origine est trop long.</p>
                                <p class="mb-0">Exemple :</p>
                                <p>https://www.lemondeinformatique.fr/actualites/lire-general-bruno-poirier-coutansais-st-si-%C2%B2--nous-avons-opte-pour-un-tres-fort-niveau-d-automatisation-de-nos-systemes-78182.html</p>
                             
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box-item">
                            <div class="ib-icon">2.</div>
                            <div class="ib-text">
                                <h5>Smart-url</h5>
                                <p>Grâce à Smart-url obtenez une url facile à partager. C'est rapide et gratuit !</p>
                                <p class="mb-0">Résultat :</p>
                                <p><%= siteUrl%>url/2</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box-item">
                            <div class="ib-icon">3.</div>
                            <div class="ib-text">
                                <h5>Flash code (qr code)</h5>
                                <p>Envie de plus de facilités ? Smart-url vous génère un flash code (qr code) pour chaque lien.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center pt-3">
                    <a id="try-now-cta" href="#" class="site-btn sb-big">Essayer maintenant !</a>
                </div>
            </div>
        </section>


        <section class="help-section spad">
            <div class="container">
                <div class="col-12">
                    <div class="text-center mb-5 pb-4">
                        <h2 class="text-white">Les derniers liens : </h2>
                    </div>
                </div>
                
                <div class="latest-list">
                 
                </div>
                
                <nav class="col-12" aria-label="Page navigation example">
                    <ul class="pagination overflow-auto">
    
                        <%for(let i =1; i <= pageCount;  i++ ) {  %>
                            <li class="page-item"><a  class="page-link border-0 <% if ((page == i) || (!page && i==1) || (page < 0 && i==1) ) { %>bg-primary text-white<% } %>" href="/?page=<%=i%>"><%=i%></a></li>
                        <% } %>
                        <!-- <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li> -->
                    </ul>
                </nav>

            </div>
    
    
        </section>

    </main>

    <footer id="sticky-footer" class="py-5 bg-dark text-white-50">
        <div class="container text-center">
            <p>Guillaume - 2020 - <a class="text-white" href="https://github.com/Guillaume97490">Mon github</a></small>
        </div>
    </footer>


    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Scannez-moi</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div id="qrcode" class="col-12 text-center">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="js/parsley.js"></script>
    <script src="js/parsley-fr.js"></script>
    <script>
        const siteUrl = <%- JSON.stringify(siteUrl) %>
    </script>
    <script src="js/script.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lep6NoUAAAAABVg-Rt15HlXBohuCJK7QhggzQgT"></script>
</body>

</html>